#installButtonDiv {
  position: absolute;
  top: 1vh;
  right: 2vw;
  }
  button#installButton {
  background-color: rgb(54, 83, 179);
  color: white;
  padding: 1.3vw 1.6vw;
  font-size: 1.5vw;
  cursor: pointer;
  border-radius: 5px;display:none;
  }
  button#installButton:hover {
  background-color: #f87a03;
  }